h2{
	
}

legend{
	background-color: #e6e6e6;
	border-radius: 1%;
}
label{
	display:inline-block;
	width:350px;
	margin-bottom:0px;
	font-variant: small-caps;
	font-size: 18px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:2px solid #4CAF50;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:2px solid #4CAF50;
    border-radius: 2px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.entry {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
